    <div class="home">
      <div class="div">
        <div class="logo">
          <div class="overlap-group">
            <p class="text-wrapper">O r g a n i c</p>
            <div class="text-wrapper-2">keyboards</div>
          </div>
        </div>
        <div class="survey-button">
          <div class="overlap"><div class="text-wrapper-3">Take the survey</div></div>
        </div>
        <div class="text-wrapper-4">Data base</div>
        <div class="text-wrapper-5">Gallery</div>
        <img class="line" src="img/line-1.svg" />
<%= image_tag 'foto_keyboard.png', class: 'foto-keyboard' %>
        <p class="p">A community-driven database of mechanical keyboard related information.</p>
        <div class="find-out-highlight">
          <div class="overlap-2">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <p class="text-wrapper-6">Find out which one is perfect for you!</p>
          </div>
        </div>
        <button class="login-button">
          <div class="div-wrapper"><div class="text-wrapper-7">Login</div></div>
        </button>
      </div>
    </div>
